/****** HTML5 Boilerplate ******/
/**** Base styles: opinionated defaults ****/

* {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */

html,button,input,select,textarea {color: #222;font-family: 'Cabin', Helvetica, Arial, sans-serif;}
h1,h2,h3,h4{
	font-family: 'Lobster', Georgia, Times, serif;
	font-weight: normal;
}

body {
    font-size: 1em;
    font-family: 'Cabin', Helvetica, Arial, sans-serif;
    line-height: 1.4;
    padding:10px 2%;
    background: #efefef;
    counter-reset: my-awesome-counter; /* add numbers to the play list items */
}
/** Remove text-shadow in selection highlight: h5bp.com/i **/
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
img { vertical-align: middle; display: block; }
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
textarea {resize: vertical;}
/** Helper classes **/
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}
.hidden {display: none !important;visibility: hidden;}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {visibility: hidden;}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;}

/***** END H5BP.com *****/

/** CUSTOM CSS **/





/** CHOOSE STREAMS PAGE **/
#theStreams {
	float: left;
	width: 45%;
	padding-right: 5%;
}
#theStreamsList {
	margin:0;
	padding: 0;
}
#theStreamsList li{
	clear: both;
	list-style: none;
	padding: 0;
	margin: 0 0 10px 0;
}

#theStreams a{
	display: block;
	padding: 10px 10px;
	margin-left: -10px;
	font-size: 1.6em;
	text-decoration: none;
	border-radius: 3px;
}
#theStreams a:hover,
#theStreams a:focus{
	background: #f5f5f5;
	box-shadow: 2px 2px 2px #ccc;
}

#theStreams a img{
	float: left;
	width: 8%;
	min-width: 50px;
}
#theStreams a em{
	float: left;
	width: 88%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: .3em 0 0 4%;
	font-style: normal;
}
#addStreamForm {
	float: left;
	width: 50%;
}
#addStreamForm .txt {
	width: 100%;
	border-radius: .5em;
	font-size: 1.3em;
	padding:5px;
	border:2px solid #000;
	box-shadow: 2px 2px 2px #eee;
	margin-bottom: 1em;
}
#addStreamForm .btn {
	float: right;
	font-weight: bold;
	font-size: 1.5em;		
}
#addStreamForm .btn[disabled] {
	color: #ccc;
}




#header {
	padding-bottom: 10px;
}
#logo {
	float: left;
	width: 15%;
	max-width: 120px;
}

#login,
#loggedIn {
	float:right;
	font-size: 85%;
	padding-top: .3em;
	margin-right: 46px;
}

#topRow {margin-bottom:20px;}

#stream-items {
	list-style: none;
	margin:0;padding:0 ;
}

#stream-items li {
	margin:0 0 2px 0; 
	padding:0;
	border: 2px solid #000;
	border-radius:3px;
	/*overflow: hidden;*/
}
#stream-items p, 
#stream-items h5 {
	margin:1px 0 0 0; 
	padding:0 ;
}

#stream-items .thumb {
	float:left;
	width:30%;
	margin-right: 5%;
	overflow: hidden;
}
#stream-items .thumb img{
	height: 100%;	
	position: relative;
	left: -40%; /* not sure how this centres it? should be 50% */
}	

#btStreams {
	position: absolute;
	top: 10px;
	right: 2%;
	width: 10%;
	max-width: 36px;	
}
#btStreams img{width: 100%;}

/** Common **/
.btn {
	border:1px solid #ddd;
	border-radius: 3px;
	padding:5px;
	background: rgb(204,204,204); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(204,204,204,1) 0%, rgba(238,238,238,1) 47%, rgba(221,221,221,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(204,204,204,1)), color-stop(47%,rgba(238,238,238,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 47%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 47%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 47%,rgba(221,221,221,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(204,204,204,1) 0%,rgba(238,238,238,1) 47%,rgba(221,221,221,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}
.greyGrad {
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(238,238,238,1) 0%, rgba(221,221,221,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(238,238,238,1)), color-stop(100%,rgba(221,221,221,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(221,221,221,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(221,221,221,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(238,238,238,1) 0%,rgba(221,221,221,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(238,238,238,1) 0%,rgba(221,221,221,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}

/** Currently Playing Info **/
#nowPlaying { 
	float: left;
	position: relative;
	width: 40%;
}
#nowPlaying #onNow{
	position: absolute;
	left: -4px;
	top: 30%;
	background: #57BAEA;
	padding: 10px;
	border-top-right-radius: .5em;
	border-bottom-right-radius: .5em;
	z-index: 4;
	font-size: 1.2em;
	font-weight: normal;
	color: white;
	font-family: 'Lobster', Georgia, Times, serif;
	text-shadow: 1px 1px 0px #666;
	box-shadow: 2px 2px 2px #000;
}

#nowPlaying .title{
	font-size: 1.3em;
	margin:0 0 .5em 0;
}
#nowPlaying .thumbWrap {
	float: left;
	display: block;
	width: 41%; /* try to match the blocks underneath */
	margin-right: 1%;
	overflow: hidden;
}
#nowPlaying .infoWrap {
	float: left;
	width: 58%;
}
#nowPlaying .thumb{
	position: relative;
	display: block;
	width: 100%;	
	overflow: hidden;
	border: 2px solid #000;
}
#nowPlaying .art{
	position: relative;
	width: 100%;
	/*position:absolute;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;	*/

	/*height: 100%;*/
}
#nowPlaying .votes em{
	font-style: normal;
	width: auto;
	padding: .125em .5em;
	font-weight: bold;
	background: white;
	border-radius: .75em;
	opacity: 0.8;
	min-width: 1.6em;
	text-align: center;
}
#nowPlaying .desc{
	font-size: 85%;
}


/** ADDING **/
#addItemForm {
	/*display: none;*/
	float: left;
	width: 49%;
	margin-left: 11%;
}
#addItemForm h2 {
	margin-bottom: 0.125em;
	line-height: 1em;
}
#addItemForm legend p {
	margin-bottom: 1em;
}
#addItemForm .txtUrl {
	float: left;
	width: 100%;
	border-radius: .5em;
	font-size: 1.3em;
	padding:5px;
	border:2px solid #000;
	box-shadow: 2px 2px 2px #eee;
	margin-bottom: 1em;
}

/* Search results preview */

#preview {
	padding:10px;
	clear: both;
	border:2px solid #000;
	border-radius: 1em;
	background: #fff;
}
#preview .title{
	margin: 0;
}
#preview .thumb{
	float:left;
	width:6em;
	height:6em;
	margin-right: 10px;
	overflow: hidden;
	text-align: center;
	border-radius: 3px;
	border: 2px solid #000;
}
#preview .art{
	height: 100%;
	min-width: 100%;
	margin-left: -50%;
}
#preview .item{
	float:left;
	width: 80%;
}
#addItemForm #addItem {
	float: left;
	width:18%;
	margin-left:2%;
}
#resultsWrap {
	position: relative;
}
#ytResults {
	position: absolute;
	left: 2%;
	top: 2.5em;
	width: 96%;
	background: #fff;
	border: 2px solid #000;
	border-bottom-left-radius: 1em;
	border-bottom-right-radius: 1em;
	border-top: 0;
	box-shadow: 2px 2px 15px #CCC;
	z-index: 3;
	padding:10px 0;
}
#ytResults ul{
	margin: 0;
	padding: 0;
	font-size: 90%;
}
#ytResults li{
	margin: 0;
	padding:0;	
	list-style: none;
}
#ytResults li a{
	float: left;
	width: 60%;
	padding: .5em 10px;	
	text-decoration: none;
}

#ytResults li {

/*property duration timing-function delay*/
	-webkit-transition:all 0.2s;
	-moz-transition:all 0.2s;
	-ms-transition:all 0.2s;
	-o-transition:all 0.2s;
	transition:all 0.2s;
}

#ytResults li.adding {
	opacity: 0.6;	
}
#ytResults li.adding,
#ytResults li.adding .addToPlaylist {
	cursor: wait;
}

#ytResults li.added {
	display:none;
}

#ytResults li:hover{
	background: #fff;
}
#ytResults li .thumb{
	float: left;
	height: 50px;
	margin-right:10px;
	border-radius: 3px;
	overflow: hidden;
	border:1px solid #000;
}
#ytResults li .title{

}
#ytResults li .views{
	float: right;	
}
#ytResults li .addToPlaylist {
	float: right;
	margin:0 10px;	
	cursor: pointer;
	width: 5%;
	min-width: 30px;
}
#ytResults .close {
	position: absolute;
	top: -18px;
	right: -16px;
	cursor: pointer;
}


/*The playlist*/

#playlist {
	/*height: 50vh;
	overflow-y: scroll;*/
	position: relative;
}
#playlist #next {
	position: absolute;
	left: -4px;
	top: 3em;
	top: 6vw; /* if supported, set to 6% of viewport width (vertical middle of cube) */
	background: #57BAEA;
	padding: 10px;
	border-top-right-radius: .5em;
	border-bottom-right-radius: .5em;
	z-index: 4;
	font-size: 1.2em;
	font-weight: normal;
	color: #fff;
	font-family: 'Lobster', Georgia, Times, serif;
	text-shadow: 1px 1px 0px #666;
	box-shadow: 2px 2px 2px #000;
}
#stream-items h5{
	counter-increment: my-awesome-counter;
}
#stream-items h5:before{
	padding-right: 10px;	
	content: counter(my-awesome-counter);
}
#stream-items .item { 
	float: left;
	width: 12.28125%;
	padding:6.140625% 0; /*squares*/
	position: relative;
	margin: 0 .25% .25% 0;
	overflow: hidden;
}
#stream-items .item:nth-child(1),
#stream-items .item:nth-child(2),
#stream-items .item:nth-child(3),
#stream-items .item:nth-child(4),
#stream-items .item:nth-child(5),
#stream-items .item:nth-child(6) {
	width: 16.25%;
	margin-right:.5%;
	padding:8.125% 0;	/*squares*/
}
#stream-items .item:nth-child(8n+6) {margin-right: 0;}


#stream-items .voteUp {
	padding: 0;
	height: 20%;
	min-height: 20px;
	position: absolute;
	top: 5px;
	right: 5px;
	margin: 0;
	z-index: 2;
	opacity: 0.65;
	cursor: pointer;
	border: 0;
	text-indent: -9000px;
	-webkit-transition:all 0.2s;
	-moz-transition:all 0.2s;
	-ms-transition:all 0.2s;
	-o-transition:all 0.2s;
	transition:all 0.2s;

	-webkit-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
}
#stream-items .voteActive.voteUp,
#stream-items .voteUp:hover {
	opacity: 1;
}
#stream-items .voteActive.voteUp {
	-webkit-transform: rotateZ(180deg);
	-o-transform: rotateZ(180deg);
	-ms-transform: rotateZ(180deg);
	-moz-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
}
#stream-items .voteActive.voteUp:hover{
	-webkit-transform: rotateZ(180deg);
	-o-transform: rotateZ(180deg);
	-ms-transform: rotateZ(180deg);
	-moz-transform: rotateZ(180deg);
	transform: rotateZ(180deg);
}

/*#stream-items .voteDown {
	height: 20px;	
}*/
#stream-items .voteActive {
	font-weight: bold;
}
#streamName {
	position: absolute;
	width: 50%;
	top: 10px;
	left: 50%;
	margin-left: -25%;
	padding: 5px 5px 5px 0;
	text-align: center;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow:1px 1px 1px #fff;
}
#stream-items .thumb,
#stream-items .info,
#stream-items .votes  {
	position: absolute;
	width: 100%;
}
#stream-items .thumb{
	z-index: 1;
	top: 0;
	left:0;
	height: 100%;
}
#stream-items .info {
	display:block;	
	bottom: 0;
	left:0;	
	padding: 10px;
	color: #eee;
	background: rgba(0,0,0,0.7);
	z-index: 2;
	height: 140px;
	position: absolute;
	bottom: -107px;
	transition: all 0.1s ease;
	-moz-transition:  all 0.1s ease;
	-webkit-transition:  all 0.1s ease;
	-o-transition: all 0.1s ease;
	transition-delay: 0.3s;
	-moz-transition-delay: 0.3s;
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
}
#stream-items .info .title{
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
	font-family: 'Cabin', Helvetica, Arial, sans-serif;
	font-size: .75em;	
}
#stream-items .info .extra
{
	font-size: 0.7em;
}
#stream-items .info .extra ul
{
	margin: 0;
	padding: 0;
	list-style: none;
}
#stream-items .info .extra ul li
{
	border: none;
	padding: 0;
	margin: 0;
}

#stream-items .info .extra button
{
	
	border: 0;
	text-indent: -9000px;
	width: 11px;
	height: 13px;
	transition: all 0.3s ease;
	-moz-transition:  all 0.3s ease;
	-webkit-transition:  all 0.3s ease;
	-o-transition: all 0.3s ease;
}

#stream-items .info .extra button:hover { opacity: 0.5;}

#stream-items .info .extra ul.trackInfo { margin: 0 0 10px 0; }

#stream-items .info .extra .trash { background: url(../img/trash-icon.png) no-repeat 0 0; }
#stream-items .info .extra .flag { background: url(../img/flag-icon.png) no-repeat 0 0; }

#stream-items .info .extra .icons li { margin: 0 10px 0 0; float: left; }

#stream-items li.item:hover span.info { bottom: 0;}

#stream-items .votes {
	width: auto;
	top: 5px;
	left: 5px;
	z-index: 2;
	padding: .125em .5em;
	font-weight: bold;
	background: white;
	border-radius: .75em;
	opacity: 0.8;
	min-width: 1.6em;
	text-align: center;
}

/** Host / Admin **/
#host{
	/*display: none;*/
	margin-top: 2em;
	padding: 10px;
	border: 2px solid #ccc;

}

/** Media Queries for Responsive Design. Theses examples override the primary ('mobile first') styles. **/

/** MOBILE OVERRIDES **/
@media only screen and (max-width: 600px) {
    /* Style adjustments for viewports that meet the condition */
    h1 {
	    font-size: 1.5em;
	    margin: 0 0 0.4em 0;
	}

	h2 {
	    font-size: 1.2em;
	    margin: 0 0 0.5em 0;
	}

	h3 {
	    font-size: 1.1em;
	    margin: 0 0 .5em 0;
	}

	h4 {
	    font-size: 1em;
	    margin: 0 0 .5em 0;
	}
    
	#login em{display: none;}

	/* now playing */
	#nowPlaying,
	#nowPlaying .thumbWrap,
	#nowPlaying .infoWrap {
		width: 100%;
	}
	#nowPlaying .thumb {
		max-height: 200px;
		max-height: 30vh;
	}
	#nowPlaying .title {
		width: 100%;
		color:#fff;
		font-size: 1em;
		position: absolute;
		bottom:0;
		left:0;
		background: rgba(0, 0, 0, 0.6);
		padding: 10px 5px;
		margin-bottom: 0;
	}
	#nowPlaying .desc {display: none;}
	#nowPlaying .votes { 
		position: absolute;
		top: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.6);
		padding: 10px 5px;
		font-size: .75em;
		border-bottom-left-radius: 1em;
		color: #fff;
	}
	#nowPlaying .votes em{ 
		color: #000;		
	}

	#nowPlaying #onNow {
		top:-4px;
		font-size: 1em;
		padding: 5px 10px;
	}

	/*Adding items*/
	#addItemForm {
		width: 100%;
		margin: 1.5em 0 0;
	}
	#addItemForm legend p {font-size: .75em;}
	#addItemForm .txtUrl {
		font-size: .85em;
		padding: 10px 5px;
	}

	#topRow{
		margin-bottom: 1em;
	}
	#playlist #next {
		font-size: 1em;
		padding: 5px 10px;
		position: static;
		display: inline-block;
		clear: both;
		margin: 0 0 0 -1%;
	}

	#ytResults {z-index: 10;}

	/*#stream-items .thumb {
		float:left;
		width:30%;
		margin-right: 5%;
		overflow: visible;	
		height: auto;
	}
	#stream-items .thumb img{
		width: 100%;	
	}*/

	/*Stream items*/

	#stream-items .item { 
		position: relative;
		float: left;
		width: 33%;
		padding:16.5% 0; /*squares*/
		margin: 0 .5% .25em 0;
	}
	#stream-items .item:nth-child(3n){
		margin-right: 0;
	}

	/*First 6 are bigger*/
	#stream-items .item:nth-child(1),
	#stream-items .item:nth-child(2),
	#stream-items .item:nth-child(3),
	#stream-items .item:nth-child(4),
	#stream-items .item:nth-child(5),
	#stream-items .item:nth-child(6) {
		position: relative;
		float: left;
		width: 49.5%;
		margin:0 .5% .25em 0;
		padding:24.75% 0;	/*squares*/
		height: inherit;
	}
	#stream-items .item:nth-child(2),
	#stream-items .item:nth-child(4),
	#stream-items .item:nth-child(6) {margin-right: 0;}
	
	#stream-items .thumb {margin: 0;}
	#stream-items .thumb img{
		/*width: auto;
		height: 100%;
		left: 0;*/
	}
	#stream-items .voteUp {height: 30%;}
	#stream-items .votes {font-size: .75em;}

	#ytResults li {
		position: relative;
		padding-bottom: .75em;
		margin-bottom: .25em;
		border-bottom: 2px solid #ccc;
	}
	#ytResults li a{
		width: 90%;
		padding: .25em 1%;
		text-decoration: none;
	}
	#ytResults li a .thumb{
		height: auto;
		width: 20%;
		margin-right: 2%;
	}
	#ytResults li .title{
		font-size: .75em;
		width: 78%;
		overflow: hidden;
		text-overflow: ellipsis;
		display: inline-block;
	}

	#ytResults li .addToPlaylist{
		width: 8%;
		min-width: 20px;
		margin: 10px 2% 0 0;
		/*border:2px solid #666;
		padding:1%;
		border-radius: 6px;*/
	}
	#ytResults li .views{
		display: block;
		width: auto;
		text-align: right;
		position: absolute;
		bottom: 0;
		right: 6%;
		font-size: .75em;
	}
	#stream-items .info {padding:5px;}
	#stream-items .info .title{margin: 0;}
	/*BOOM*/
	/*#addItemForm .txtUrl:focus {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 100;
	}
	#addItemForm .txtUrl:focus+#ytResults{
		display:block !important;
		position: fixed;
		top: 40px;
		left: 0;
		font-size: .75em;
		z-index: 100;

	}*/
}

/** DESKTOP OVERRIDES **/
@media only screen and (min-width: 1000px) {
    /* Style adjustments for viewports that meet the condition */
    

    /*#stream-items .thumb {
		float:left;
		width:30%;
		margin-right: 5%;
		overflow: visible;	
		height: auto;		
	}
	#stream-items .thumb img{
		width: 100%;	
	}*/
	#topRow {
		margin-bottom: 4.5em;
	}
	#playlist #next {
		top:-2.8em;
	}

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}