<!doctype html>
<html ng-app="project">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script src="http://connect.soundcloud.com/sdk.js"></script>
    <script src="http://w.soundcloud.com/player/api.js"></script>
    <script>
      //SC.initialize({
     //   client_id: 'ac784427be84b4f3ba0f0202659afd20'
     // });
    </script>
    <script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.2/angular-resource.min.js"></script>

    <script src="/js/mega-player.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/app.js"></script>
    
    <!-- Google Font pairings - http://bit.ly/qCTNeX -->
    <!-- Lobster & Cabin -->
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/desktop.css">

  </head>
  <body>
    <header id="header" class="clearfix">
      <img src="/img/radio-icon.jpg" alt="" id="logo" />
      <%if (!user) { %>
        <a id="login" href="/auth/facebook">Login with Facebook</a>
      <% } else { %>
        <p id="loggedIn">Hello <%= user.name %> <a href="/logout" id="logout">Logout</a></p>
      <% } %>
    </header>
    <script>
      $(function() {
        $('#login').click(function() {
          //console.dir(location);
          var target = $(this).attr('href') + "?returnUrl=" + encodeURIComponent(location.hash);
          //alert(target);
          window.location=target;
          return false;
        });

          if (jQuery.browser.msie) {
              $('#app').remove();
               alert('Sorry, you are using IE which is currently not supported');
           return;
          }

      });
    </script>
  <div id="app" ng-view></div>
  </body>
</html>