<section id="streams" class="clearfix">

	<h1 id="streamName">Jukebox</h1>

	<section id="topRow" class="clearfix">

		<section id="theStreams">
			<h2>Choose a stream...</h2>
			<ul id="theStreamsList">
				<li ng-repeat="stream in streams" class="clearfix">					
					<a href="#/stream/{{stream._id}}/{{stream.name | urlEncode}}" class="clearfix">
						<img src="/img/headphones.png" alt="listen" class="" />
						<em>{{stream.name}}</em>
					</a>
				</li>
			</ul>
		</section>


		<form name="addStreamForm" id="addStreamForm" class="clearfix">
			<h2>or create your own...</h2>
			<div ng-class="{error: addStreamForm.name.$invalid}" >
				<!-- <label>Name</label>			 -->
				<input type="text" class="txt" name="name" ng-model="stream.name" required size="50" placeholder="Name your stream. e.g. 'My Awesome Playlist'" />
			</div>

			<button ng-click="addStream()" ng-disabled="addStreamForm.$invalid" class="btn btn-primary">Create stream</button>
		</form>

	</section>

</section>
