<!-- <h2 id="streamName">{{ stream.name }}</h2> -->
<a href="#/" class="btn greyGrad" id="btStreams"><img src="img/menu.png" /></a>

<div class="clearfix" id="nowPlaying">
	<!-- <h3>Now playing:</h3> -->
	<div ng-show="nowPlaying">
		<h4 class="title">{{nowPlaying.title}}</h4>
		<span class="thumb">
			<img ng-src="{{nowPlaying.image}}" alt="{{nowPlaying.title}}" class="art" />
		</span>
		<!-- <p>{{nowPlaying.description}}</p> -->
	</div>
</div>

<div class="module">
	<h3>Admin</h3>
	<button ng-click="skipCurrent()" ng-disabled="!nowPlaying" class="btn">Skip</button>
</div>

<div id="queue" class="module">

	<h3>Queue</h3>

	<form name="addItemForm">
		<div ng-class="{error: addItemForm.name.$invalid}" >
			<label>URL <input type="url" name="url" ng-model="entry.url" required ng-change="lookupItem()"></label>
			<span ng-show="addItemForm.url.$error.required" class="help-inline">Required</span>
		</div>

	    <div style="border:1px solid blue;" ng-show="newItemLookup">
	    	<h6>{{newItemLookup.title}}</h6>
	    	<p>{{newItemLookup.description}}</p>
	    	<img ng-src="{{newItemLookup.image}}" alt="" />
	    </div>

	    <div style="border:1px solid blue;" ng-show="newItemLoading">
	    	Please wait...
	    </div>

		<button ng-click="addItem()" ng-disabled="!newItemLookup"
	          class="btn btn-primary">Add Item</button>
	</form>

	<p ng-show="!items.length">No items yet</p>

	<ul id="stream-items" ng-show="items.length">
		<li ng-repeat="item in items" class="greyGrad clearfix">
			<span class="thumb"><img ng-src="{{item.image}}" alt="" /></span>
			<h5>{{item.title}}</h5>
			<!--<p>{{item.description}}</p>-->
			<img src="/img/vDown.png" ng-click="submitVote(item, -1)" ng-class="{ voteActive: item.currentVote == -1}" class="voteDown" />
			<span style="font-size:1.6em;">{{item.totalVotes || 0}}</span>
			<img src="/img/vUp.png"  ng-click="submitVote(item, 1)" ng-class="{ voteActive: item.currentVote == 1}" class="voteUp" />
		</li>
	</ul>

</div>

<div class="module">
	<h3>Host</h3>
	<button ng-click="startHostPlaying()" ng-disabled="isHostPlaying">&#9656; Start</button>
	<button ng-click="stopHostPlaying()" ng-disabled="!isHostPlaying">&#9726; Stop</button>

	<player item="hostItem" on-finish="hostFinishedPlaying()"></player>

</div>