<h2>{{ stream.name }}</h2>
<a href="#/" class="btn greyGrad" id="btStreams"><img src="img/menu.png" /></a>

<div class="module">
	<h3>Now</h3>
	<div ng-show="current">
		<img ng-src="{{current.image}}" class="" />
		<h4>{{current.title}}</h4>
		<p>{{current.description}}</p>
	</div>
</div>

<div class="module">
	<h3>Admin</h3>
	<button ng-click="skipCurrent()" class="btn">Skip</button>
</div>

<div id="queue" class="module">

	<h3>Queue</h3>

	<form name="addItemForm">
		<div ng-class="{error: addItemForm.name.$invalid}" >
			<label>URL <input type="url" name="url" ng-model="entry.url" required ng-change="lookupItem()"></label>
			<span ng-show="addItemForm.url.$error.required" class="help-inline">Required</span>
		</div>

	    <div style="border:1px solid blue;" ng-show="newItemLookup">
	    	<h6>{{newItemLookup.title}}</h6>
	    	<p>{{newItemLookup.description}}</p>
	    	<img ng-src="{{newItemLookup.image}}" width="200" >
	    </div>

	    <div style="border:1px solid blue;" ng-show="newItemLoading">
	    	Please wait...
	    </div>

		<button ng-click="addItem()" ng-disabled="!newItemLookup"
	          class="btn btn-primary">Add Item</button>
	</form>

	<ul id="stream-items">
		<li ng-repeat="item in items" class="greyGrad clearfix">
			<span class="thumb"><img ng-src="{{item.image}}" ></span>
			<h5>{{item.title}}</h5>
			<!--<p>{{item.description}}</p>-->
		</li>
	</ul>

</div>

<div class="module">
	<h3>Host</h3>
	<button ng-click="startPlaying()" ng-disabled="isHostPlaying">&#9656; Start</button>
	<button ng-click="stopPlaying()" ng-disabled="!isHostPlaying">&#9726; Stop</button>

	<player item="current" on-finish="finishedPlaying()"></player>

</div>